   body {
        background-color: white;
        margin-left: 0px;
     }
   h2 {
        text-align: center;
        font-family: 'Cooper';
        color: whitesmoke;
        margin-top: 0cm;
        background-color: grey;
        padding-top: 0.5cm;
        padding-bottom: 0.3cm;
        padding-right: 0.5cm; 
        border-radius: 10px;
     }
   form {
        text-align: left;
        padding: 30px;
        margin-left: 9cm;
        margin-right: 10cm;
        border-radius: 10px;
        border: solid grey;
        background-color: rgb(201, 211, 201);
     }
   p {
        text-align: right;
        color: rgb(223, 62, 62);
     }
   h1 {
        font-family: 'Consolas';
        color: 'black';
        border-bottom: 'balck';
     }
     