body {
    background-color: #eeecec;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    
}

/* for navbar */
#mainNavbar #nav {
	color: #131212;
    font-weight: 300;
}

#mainNavbar .navbar-brand {
	color: #131212;
	font-size: 40px;
    font-family: 'Festive', cursive;
}

/* for topnav */
.topnav {
    position: relative;
    top: 0px;
    padding: 20px;
    background-color: #585858;
    box-shadow: 0 5px 10px rgb(138, 137, 137);
}

.bs-bar-item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.topnav-item :hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(107, 105, 105);
    border: 1px solid rgb(107, 105, 105);
}

i {
    font-size: 20px;
}

/* for search display */
.heading {
    padding-top: 75px;
    padding-left: 20px;
}

/* for side-nav */
.product-show {
   padding-left: 20px; 
}

.left-group {
    max-width: 190px;
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    
}

.card-header {
    font-size: 15px;
}

.list-item {
    font-size: 15px;
}

.card-body {
    padding-top: 0px;
}

.right-group {
    width: calc(100% - 190px);
    display: block;
}

.card-left-list {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.list-item a {
    text-decoration: none;
    color: #6d6c6c;
}

/* for product card */
.pro-link {
    text-decoration: none;
    color: purple;
    font-size: 15px;
}

.pro-price {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.pro-add {
    font-size: 10px;
}

/* for buttons and links */
li .btn-outline {
    outline: none;
    display: block;
    cursor: pointer;
    border: solid 2px #02c3bd;
    font-size: 16px;
    line-height: 1;
    padding: 16px 30px;
    font-weight: 500;
    border-radius: 30px;
    color: #fff;
    transition: all 0.3s linear;
    background-color: #02c3bd;
    box-shadow: 0 5px 10px #555555;
}

li .btn-outline :hover, .btn-outline :focus {
    background-color: #04c0ba;
    color: white;
}

li .btn-outline :active {
    background-color: #02acad;
    color: #fff;
}

#key-link {
    text-decoration: none;
    color: #838282;
}

#key-link:hover {
    text-decoration: none;
    border-bottom: 1px solid #555555;
    color: #555555;
}

/* for footer */
footer {
    background: #f6f6f6;
    border-top: solid 1px #e6e6e6;
    font-weight: 300;
    font-size: 14px;
    font-family: arial
}

.foot-head {
    background: #eeeeee;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #e6e6e6;
    line-height: 42px;
    font-weight: 400;
}

.foot-word {
    width: 1001px;
    margin: 0 auto;
}

.foot-social {
    float: right;
}

.foot-lower li {
    list-style: none;
}

ul.footwdth {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.foot-lower li.foot-wdth {
    margin: 7px 0;
    width: 190px;
    float: left;
    list-style: none;
    line-height: 19px;
}


/* miscellaneous */